Week 8 Intro to Web Services/CourseworkExercise4New/CourseworkExercise4New/Web References/localhost/ConversionTemp.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CelsiusToFarenheit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="temp1" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CelsiusToFarenheitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CelsiusToFarenheitResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FarenheitToCelsius">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="temp2" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FarenheitToCelsiusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FarenheitToCelsiusResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="CelsiusToFarenheitSoapIn">
    <wsdl:part name="parameters" element="tns:CelsiusToFarenheit" />
  </wsdl:message>
  <wsdl:message name="CelsiusToFarenheitSoapOut">
    <wsdl:part name="parameters" element="tns:CelsiusToFarenheitResponse" />
  </wsdl:message>
  <wsdl:message name="FarenheitToCelsiusSoapIn">
    <wsdl:part name="parameters" element="tns:FarenheitToCelsius" />
  </wsdl:message>
  <wsdl:message name="FarenheitToCelsiusSoapOut">
    <wsdl:part name="parameters" element="tns:FarenheitToCelsiusResponse" />
  </wsdl:message>
  <wsdl:portType name="ConversionTempSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CelsiusToFarenheit">
      <wsdl:input message="tns:CelsiusToFarenheitSoapIn" />
      <wsdl:output message="tns:CelsiusToFarenheitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FarenheitToCelsius">
      <wsdl:input message="tns:FarenheitToCelsiusSoapIn" />
      <wsdl:output message="tns:FarenheitToCelsiusSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConversionTempSoap" type="tns:ConversionTempSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CelsiusToFarenheit">
      <soap:operation soapAction="http://tempuri.org/CelsiusToFarenheit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FarenheitToCelsius">
      <soap:operation soapAction="http://tempuri.org/FarenheitToCelsius" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConversionTempSoap12" type="tns:ConversionTempSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CelsiusToFarenheit">
      <soap12:operation soapAction="http://tempuri.org/CelsiusToFarenheit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FarenheitToCelsius">
      <soap12:operation soapAction="http://tempuri.org/FarenheitToCelsius" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConversionTemp">
    <wsdl:port name="ConversionTempSoap" binding="tns:ConversionTempSoap">
      <soap:address location="http://localhost:61121/ConversionTemp.asmx" />
    </wsdl:port>
    <wsdl:port name="ConversionTempSoap12" binding="tns:ConversionTempSoap12">
      <soap12:address location="http://localhost:61121/ConversionTemp.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>